<h1>Am I Okay?</h1>

<p>
Willkommen to Am I Okay? The innovative new platform that allows you to quickly notify family and friends how you are doing as you are traveling. 
</p>

<p>
Sick and tired of getting text messages from your mother when in a foreign country asking you how you're doing? I know I am. 
</p>

<p>
Now mitte Am I Okay?, you can send your loved ones a quick message to let them know how you are doing. Brought to you by <a href="https://www.youtube.com/watch?v=ciS914MaDl8">Prestige Worldwide</a>
</p>


<h1>Am I Okay? Users</h1>

<table border="1">
  <tr>
    <th>
      ID
    </th>

    <th>
      Username
    </th>

    <th>Following?</th>
    
    <th></th>
  </tr>

  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.id %>
    </td>

    <td>
      <%= user.username %>
    </td>
    
    <td>
      <% if session.fetch(:user_id) != nil%>

        <% if user.follower_ids.include?(session.fetch(:user_id)) ==  true %>
          Following already.

        <% elsif user.received_follow_requests.where({ :sender_id => session.fetch(:user_id) }).at(0) == nil %>
          <form action="/insert_follow_request" method="post">
            <input id="recipient_id_from_query" name="recipient_id_from_query" type="hidden" value="<%=user.id%>">
            <button>Follow</button>
          </form>
        <%end %>
      
      <%end%>
    </td>

    <td>
      <a href="/users/<%= user.username %>">Show details</a>
    </td>
  </tr>
  
  <% end %>
</table>
